.wrapper{
    margin:50px;
}

.slide-enter{
  opacity: 0;
}

.slide-enter-active{
  transition: opacity 0.5s; 
}

.slide-leave-active{
  transition: opacity 0.5s; 
}

.slide-leave-to{
  opacity: 0;
}
.progress-bar{
  transition: all 0.5s ease 0s;
}